.fondo{

	width: 100%;
	height: 25%;

}
.centrar{

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.a1{
	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-right: 20px;
}

	.a2{
	width: 100%;
	height: 45%;
	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}